html,
body{
    /* width: 100%; */
    overflow-x: hidden;
    color: black;
    font-family: 'avenir';
    background-color: white;
}

a {
    outline: none !important;
}

.bg-blue{
    background-color: #007BFF;
}

.text-blue{
    color: #007BFF;
}

.text-soft-blue{
    color: rgba(0, 123, 255, 0.849);
}

.text-soft-grey{
    color: rgba(245, 245, 245, 0.329);
}

.hero-wave{
    content: '';
    height: 100vh;
    width: 100%;
    background: url('../img/content/wave-d.png') 100% 100% no-repeat;
    background-size: contain;
}

h1,h2,h3{
  font-weight: 800;
}

#intro{
    /* margin-top: -80px; */
    background: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.815)),url(../img/content/bg-pel3.png);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

#find{
    /* margin-top: -80px; */
    background: linear-gradient(to right, #0575e6, #021b79);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.progress{
    z-index: 200;
    position: fixed;
    top: 0px;
    height: 5px;
    width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.815));
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: underline;
  }
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
    
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.815));
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }